{% extends "socialaccount/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load tz %}
{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block BODY_CONTENT %}

<div id="askkit-container" class="container-fluid" rel="main">
	<div class="row question-create-body">
		<div class="col-md-6 col-md-offset-3">
			<div class="comp">
				<h1 class="text-grey">{% trans "Login Cancelled" %}</h1>

				{% url 'account_login' as login_url %}

				<p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block JAVASCRIPT %}
<script type="text/javascript">

	$(document).ready(function(){
		container_margin_top_handler();
    askkit_collapse();
	});

	$(window).resize(function(){
		container_margin_top_handler();
	});

</script>

{% endblock %}

