{% extends "base.html" %}

{% load static %}
{% load staticfiles %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="{% static 'css/core/dashboard.css' %}">
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block BODY_CONTENT %}

<div id="askkit-container" class="container-fluid" rel="main">
    <div class="row dashboard-body">
            <div class="col-md-6 col-md-offset-3">
				<h1 class="text-grey">{% trans "Confirm E-mail Address" %}</h1>

				{% user_display confirmation.email_address.user as user_display %}

				<p>{% blocktrans with confirmation.email_address.email as email %}You have confirmed that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
            </div>
        </div> 
</div>

{% endblock %}

{% block JAVASCRIPT %}
<script type="text/javascript">

  $(document).ready(function(){
    container_margin_top_handler();

  });

  $(window).resize(function(){
    container_margin_top_handler();
  });

</script>
{% endblock %}

