{% extends "base.html" %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="{% static 'css/core/dashboard.css' %}">
{% endblock %}

{% block BODY_CONTENT %}

<div id="askkit-container" class="container-fluid" rel="main">
  <div class="row dashboard-body">
    <div class="col-md-6 col-md-offset-3">
    	<div class="comp">
			<h1 class="text-grey">{% trans "Sign Out" %}</h1>

			<p>{% trans 'Are you sure you want to sign out?' %}</p>

			<form method="post" action="{% url 'account_logout' %}">{% csrf_token %}
				{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
				{% endif %}
				<button class="btn btn-primaty" type="submit">{% trans 'Sign Out' %}</button>
			</form>
		</div>
    </div>
  </div>
</div>

{% endblock %}

{% block JAVASCRIPT %}
<script type="text/javascript">

  $(document).ready(function(){
    container_margin_top_handler();

  });

  $(window).resize(function(){
    container_margin_top_handler();
  });

</script>
{% endblock %}

