{% extends "base.html" %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="{% static 'css/core/dashboard.css' %}">
{% endblock %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block BODY_CONTENT %}

<div id="askkit-container" class="container-fluid" rel="main">
    <div class="row dashboard-body">
        <div class="col-md-6 col-md-offset-3">
			<h1 class="text-grey">{% trans "Set Password" %}</h1>

			<form method="POST" action="{% url 'account_set_password' %}" class="password_set">{% csrf_token %}
			{{ form|crispy }}
			<input type="submit" name="action" value="{% trans 'Set Password' %}"/>
			</form>
        </div>
    </div>
</div>

{% endblock %}

{% block JAVASCRIPT %}
<script type="text/javascript">

  $(document).ready(function(){
    container_margin_top_handler();

  });

  $(window).resize(function(){
    container_margin_top_handler();
  });

</script>
{% endblock %}

