<h1>Polls</h1>

<hr>

{% for poll in object_list %}
<ul>
    <li>{{ poll.short_title}} - Options count: {{ poll.options_count }} - Total votes: {{ poll.total_votes }}
	    <li> Actions:
	    	<form action="randomvote/" method="post">{% csrf_token %}
				<input  type="number" name="number" value="100">
				<input type="hidden" name="id" value="{{ poll.pk }}">
				<input type="submit" value="Random votation">
			</form>

			<form action="resetpollvotes/" method="post">{% csrf_token %}
				<input type="hidden" name="id" value="{{ poll.pk }}">
				<input type="submit" value="Reset votes">
			</form>
	    </li>
	    <li>Options:
	    	<ul>
	    		{% for reply in poll.options.all %}
	            <li>
	            	{{ reply }} - {{ reply.vote_quantity }}

	            	<ul>
		    			<li>
				            <form action="addvote/" method="post">{% csrf_token %}
				    			<input type="hidden" name="id" value="{{ reply.pk }}">
								<input type="submit" value="Add vote">
							</form>
							<form action="subtractvote/" method="post">{% csrf_token %}
				    			<input  type="hidden" name="id" value="{{ reply.pk }}">
								<input type="submit" value="Subtract vote">
							</form>
						</li>
					</ul>
				</li>
				{% endfor %}
	        </ul>
	    </li>
    </li>
    <hr>
</ul>
{% empty %}
    <p>No polls yet.</p>
{% endfor %}