{% load i18n %}

<div id="askkit_settings_modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{% trans 'Askkit Settings' %}</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							{% trans 'Asskit uses your time zone to show you dates and times properly. Please, select one:' %}
						</div>
						<div class="col-md-12 h-separator" ></div>
						<div class="col-md-12">
							<label class="control-label">{% trans 'Time Zone:' %}</label>
							{% include 'settings/select_timezone.html' %}
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
				<button type="button" class="btn btn-primary" id="save">{% trans 'Save changes' %}</button>
			</div>
		</div>
	</div>
</div>