{% load static %}
{% load staticfiles %}

{% load users_tags %}

{% load i18n %}


<div id="qumo-update" class="modal fade qumo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <strong>{{user|print_anonymous}}</strong>, 
                    <qtext id='qtext_field'></qtext>
                </h4>
            </div>
            <div id="modal-body" class="modal-body hidden">
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                <button id="action_btn" type="button" class="btn btn-primary">
                    <div id="loader" class="hiden"><img src="{% static 'img/loader-black-orange.gif' %}"></div>
                    <actionBtn id="action_btn_text"></actionBtn>
                </button>
                {% csrf_token %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function(){

        $('#qumo-update').on('show.bs.modal', function(event){
            // Common variables
            var button = $(event.relatedTarget);
            var canonical = button.data('canonical');
            var qtext = button.data('qtext');
            var actiontext = button.data('actiontext');
            
            var modal = $(this);
            var qtext_field = modal.find('#qtext_field');
            var body = modal.find('#modal-body');
            var action_btn = modal.find('#action_btn');
            var action_btn_text = action_btn.find('#action_btn_text');
            var loader = action_btn.find('#loader');
            var close_btn = modal.find('#close');

            qtext_field.html(qtext);
            action_btn_text.html(actiontext);

            function reset_btns() {
                body.removeClass();
                body.addClass('modal-body hidden')
                body.html('');
                action_btn.removeClass()
                action_btn.addClass('btn btn-primary');
                action_btn.attr("disabled", false);
            }

            reset_btns();
            action_btn.unbind("click");

            action_update = function() {
                action_btn.attr("disabled", true);
                var formID = button.data('form');
                $('#'+formID).submit();
            }

            action_cancel = function() {
                action_btn.attr("disabled", true);
                window.location.href = button.data('link');
            }

            action_anon = function() {
                action_btn.attr("disabled", true);
                window.location.href = button.data('link');
            }

            action_delete = function() {
                action_btn.attr("disabled", true);
                window.location.href = button.data('link');
            }

            switch(canonical) {

                case 'update':
                    action_btn.click(action_update);
                    break;
                case 'cancel':
                    action_btn.removeClass('btn-primary')
                    action_btn.addClass('btn-warning');
                    action_btn.click(action_cancel);
                    break;
                case 'toanon':
                    action_btn.removeClass('btn-primary')
                    action_btn.addClass('btn-danger');
                    body.removeClass('hidden');
                    body.addClass('bg-danger text-danger');
                    var btext = button.data('btext');
                    body.html(btext);
                    action_btn.click(action_anon);
                    break;
                case 'delete':
                    action_btn.removeClass('btn-primary')
                    action_btn.addClass('btn-danger');
                    body.removeClass('hidden');
                    body.addClass('bg-danger text-danger');
                    var btext = button.data('btext');
                    body.html(btext);
                    action_btn.click(action_delete);
                    break;
            }
        });
    });
</script>