{% extends 'base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% load tz %}
{% load i18n %}

{% block APP_CSS %}
<style type="text/css">
	.redactor-box {
		max-width: 1280px !important;
	}
</style>

{% endblock %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="{% static 'css/questions/questions.css' %}">
{% endblock %}

{% block BODY_CONTENT %}
<!-- Begin page content -->

<div id="askkit-container" class="container-fluid" rel="main">
	<div class="row question-update-body">
		<div class="col-md-3">
			<div class="comp text-center">
				<h2 class="text-gray">{% trans 'Update Question' %}</h2>
			</div>
			{% include 'core/components/question-create-explanation.html' %}
		</div>
		<div class="col-md-6">
			{% include 'questions/update_form.html' %}
		</div>
		<div class="col-md-3">
			{% include 'questions/update_danger_zone.html' %}
		</div>
	</div>
	{% include 'questions/modal_update.html' with question=question %}
</div>

{% endblock %}

{% block JAVASCRIPT %}
<script type="text/javascript">

	$(document).ready(function(){
		container_margin_top_handler();
    askkit_collapse();
	});

	$(window).resize(function(){
		container_margin_top_handler();
	});

</script>
{% endblock %}
