{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load tz %}
{% load i18n %}

{% block APP_CSS %}
<style type="text/css">

		.profile-landscape-wrapper {
        /*background: url('http://lorempixel.com/1920/600/abstract/8/');*/
        background: url('{% get_media_prefix %}{{profile.background}}');

    }

</style>
{% endblock %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="{% static 'css/questions/questions.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/users/public_profile.css' %}">
{% endblock %}

{% block BODY_CONTENT %}
<!-- Begin page content -->

<div id="askkit-container" class="container-fluid" rel="main">

	{% include 'users/header.html' with profile=profile  %}

	<div class="row">
		<div class="col-md-3">
			<div class="comp text-center">
				<h2 class="text-gray">{% trans 'Settings' %}</h2>
			</div>
			{% include 'users/profile-explanation.html' %}
		</div>
		<div class="col-md-6">
			{% include 'users/profile_edit_form.html' with profileEditForm=profileEditForm %}
		</div>
		<div class="col-md-3">
			{% include 'users/profile_danger_zone.html' %}
		</div>
	</div>

	{% include 'users/modal_update.html' with profile=profile %}

</div>

{% endblock %}

{% block JAVASCRIPT %}
<script type="text/javascript">

	$(document).ready(function(){
		container_margin_top_handler();
		avatar_handler();
		askkit_collapse();
	});

	$(window).resize(function(){
		container_margin_top_handler();
		avatar_handler();
	});

</script>
{% endblock %}
